.style0 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: .75em;
  text-indent: 22px;
  margin-left: 595px;
  margin-top: 50px;
  width: 185px;
  height: 24px
}
.HomePagerow1 {
  position: relative;
  display: flex;
  margin-left: 29px;
  margin-top: 48px;
  width: 1160px;
  height: 46px
}
.HomePagerow1unsupported1 {
  position: relative;
  margin-left: 0;
  margin-top: 16px;
  width: 46px;
  height: 46px;
  flex-shrink: 0
}
.HomePagerow1unsupported0 {
  margin-left: 764px;
  width: 350px;
  height: 39px;
  align-self: center;
  flex-shrink: 0
}
.Textrow0 {
  display: flex;
  margin-left: 28px;
  margin-top: 31px;
  width: 818px;
  height: 38px;
  align-items: center
}
.Textrow0unsupported1 {
  margin-left: 0;
  width: 0;
  height: 0
}
.style2 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 35px;
  margin-left: 634px;
  width: 185px;
  height: 100%
}
.Text2row0 {
  display: flex;
  margin-left: 28px;
  margin-top: 31px;
  width: 818px;
  height: 38px;
  align-items: center
}
.Text2row0unsupported1 {
  margin-left: 0;
  width: 0;
  height: 0
}
.style4 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 35px;
  margin-left: 634px;
  width: 185px;
  height: 100%
}
.Text3row0 {
  display: flex;
  margin-left: 28px;
  margin-top: 31px;
  width: 818px;
  height: 38px;
  align-items: center
}
.Text3row0unsupported1 {
  margin-left: 0;
  width: 0;
  height: 0
}
.style6 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 35px;
  margin-left: 634px;
  width: 185px;
  height: 100%
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.Text4row0 {
  display: flex;
  margin-left: 28px;
  margin-top: 31px;
  width: 818px;
  height: 38px;
  align-items: center
}
.Text4row0unsupported1 {
  margin-left: 0;
  width: 0;
  height: 0
}
.style8 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  text-indent: 35px;
  margin-left: 634px;
  width: 185px;
  height: 100%
}